<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Présentation
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Présentation du projet</a></li>
                <li><a href="#">Acteurs</a></li>
                <li><a href="#">Rapports financier</a></li>
                <li><a href="#">Rapports d'activité</a></li>
              </ul>
            </li>
            <li><a href="#">Partenaires</a></li>
            <li><a href="#">Faire un don</a></li>
             <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Devenir bénévole
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Tuteur distant</a></li>
                <li><a href="#">Encadreur</a></li>
                <li><a href="#">Bénévole administratif</a></li>
              </ul>
            </li>
            <!--TODO : changer le chemin-->
            <li><a href="Connexion.jsp">Connexion</a></li>

         </ul>

        </nav>
        <img id="image" src="mandela.jpg" alt="background image" > 
       <!--<%-- Impression de variables --%>
       <p>Au moment de l'exécution de ce script, nous sommes le <%= date %>.</p>
       <p>Cette page a été affichée <%= nombreVisites %> fois !</p>-->
    </body>
</html>
